<a href="https://colab.research.google.com/github/YamanL/AI-and-its-Application/blob/main/DAY_6_updated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-On Practice: Pandas and Matplotlib

## Exercise 1: Creating a Pandas Series
#### Pandas Series = 1-D array with labels

In [ ]:
import pandas as pd
scores = pd.Series([56,89,35,80,91],index=["Maths","Science","English","History","Geography"])
print(scores)

# Task 1: Create a Pandas Series with values [10, 20, 30, 40] and indices [”A”,
# ”B”, ”C”, ”D”]. Print the Series.

Maths        56
Science      89
English      35
History      80
Geography    91
dtype: int64

## Exercise 2: Creating a Pandas DataFrame

#### Dataframe is in a table format

In [ ]:
#Creating a dictionary
data = {
    "Name":["Aarav","Bikram","Samir"],
    "Age":[25,26,22],
    "City":["Delhi","Kathmandu","Dhaka"],
    "Country":["India","India","Bangladesh"]
}
#Turning the dictionary into a DataFrame
df = pd.DataFrame(data)
#Printing the DataFrame
print(df)

#Printing the DataFrame without index
print(df.to_string(index=False))

# Task 2: Create a DataFrame with columns ”City” ([”Paris”, ”Tokyo”, ”Syd-
# ney”]) and ”Population” ([2.1, 37.4, 5.3]). Print the DataFrame.

     Name  Age       City     Country
0   Aarav   25      Delhi       India
1  Bikram   26  Kathmandu       India
2   Samir   22      Dhaka  Bangladesh
  Name  Age      City    Country
 Aarav   25     Delhi      India
Bikram   26 Kathmandu      India
 Samir   22     Dhaka Bangladesh

## Exercise 3: Filtering Data in a DataFrame

In [ ]:
#Creating a dictionary
data = {
    "Name":["Aarav","Bikram","Samir"],
    "Age":[25,26,22],
    "City":["Delhi","Kathmandu","Dhaka"],
    "Country":["India","India","Bangladesh"]
}
#Turning the dictionary into a DataFrame
df = pd.DataFrame(data)

# #Printing the DataFrame
# print(df)

#Filtering
filter = df[df["Age"] < 26]
print(filter)


#Task 3: Create a DataFrame with columns ”Name” ([”Eve”, ”Frank”, ”Grace”])
# and ”Age” ([19, 23, 20]). Filter rows where Age is greater than 20 and print the
# result.

    Name  Age   City     Country
0  Aarav   25  Delhi       India
2  Samir   22  Dhaka  Bangladesh

## Exercise 4: Reading and Processing a CSV File

In [ ]:
import io

#Creating a csv file
csv_data = """
Name,Grade
Sushil,1
Arpan,2
Rohit,3
"""

#Reading a CSV file
df = pd.read_csv(io.StringIO(csv_data))
print(df)

#Calculate average grade
average_grade = df['Grade'].mean()
print(f"Average Grade: {average_grade}")

# Task4: Simulate a CSV string with columns ”Product” ([”Apple”, ”Banana”,
# ”Orange”]) and ”Price” ([1.0, 0.5, 0.75]). Read it into a DataFrame and print the
# sum of prices using df[”Price”].sum().

     Name  Grade
0  Sushil      1
1   Arpan      2
2   Rohit      3
Average Grade: 2.0

Task 1: Create a Pandas Series with values [10, 20, 30, 40] and indices [”A”, ”B”, ”C”, ”D”]. Print the Series.

In [ ]:
import pandas as pd
values = pd.Series([10, 20, 30, 40], index=["A", "B", "C", "D"])
print(values)

A    10
B    20
C    30
D    40
dtype: int64

Task 2: Create a DataFrame with columns ”City” ([”Paris”, ”Tokyo”, ”Sydney”]) and ”Population” ([2.1, 37.4, 5.3]

In [ ]:
import pandas as pd
data_city_population = {
    "City": ["Paris", "Tokyo", "Sydney"],
    "Population": [2.1, 37.4, 5.3]
}
df_city_population = pd.DataFrame(data_city_population)
print(df_city_population)

     City  Population
0   Paris         2.1
1   Tokyo        37.4
2  Sydney         5.3

Task 3: Create a dataframe with columns "Name" (["Eve", "Frank" , "Grace"]) and "Age" ([19, 23, 20]). filter rows where age is greater than 20 and print the result.

In [ ]:
import pandas as pd
data_name_age = {
    "Name": ["Eve", "Frank", "Grace"],
    "Age": [19, 23, 20]
}
df_name_age = pd.DataFrame(data_name_age)
filtered = df_name_age[df_name_age["Age"] > 20]
print(filtered)

    Name  Age
1  Frank   23

Task4: Simulate a CSV string with columns ”Product” ([”Apple”, ”Banana”, ”Orange”]) and ”Price” ([1.0, 0.5, 0.75]). Read it into a DataFrame and print the sum of prices using df[”Price”].sum().

In [2]:
import pandas as pd
import io
csv_products_prices = """
Product,Price
Apple,1.0
Banana,0.5
Orange,0.75
"""

df_products_prices = pd.read_csv(io.StringIO(csv_products_prices))
print(df_products_prices)

sum_of_prices = df_products_prices["Price"].sum()
print(f"Sum of Prices: {sum_of_prices}")

  Product  Price
0   Apple   1.00
1  Banana   0.50
2  Orange   0.75
Sum of Prices: 2.25